<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package
    Name="FileTools"
    Manufacturer="byteword"
    Version="$(var.ProductVersion)"
    UpgradeCode="3c349cf2-c8c9-4a60-9235-83009b041788"
    Scope="perUser"
    Codepage="65001">

    <MajorUpgrade DowngradeErrorMessage="A newer version of FileTools is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="INSTALLLEVEL" Value="1" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <ui:WixUI Id="WixUI_FeatureTree" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="ProgramsFolder" Name="Programs">
        <Directory Id="INSTALLFOLDER" Name="FileTools" />
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ProgramMenuFileTools" Name="FileTools" />
    </StandardDirectory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="FileToolsExeComponent" Guid="117a6701-9283-4acf-bf0a-4987c1dedd53">
        <File Id="FileToolsExeFile" Source="$(var.AppPublishDir)FileTools.exe" />
        <RemoveFolder Id="RemoveInstallFolder" On="uninstall" />
        <RemoveFolder Id="RemoveProgramsFolder" Directory="ProgramsFolder" On="uninstall" />
        <RegistryValue
          Root="HKCU"
          Key="Software\FileTools"
          Name="InstalledExe"
          Type="string"
          Value="[INSTALLFOLDER]FileTools.exe"
          KeyPath="yes" />
      </Component>

      <Component Id="InstallStateComponent" Guid="f4b14411-7e73-4f39-8e37-c3521454d962">
        <RegistryValue
          Root="HKCU"
          Key="Software\FileTools"
          Name="InstallDir"
          Type="string"
          Value="[INSTALLFOLDER]"
          KeyPath="yes" />
      </Component>

      <Component Id="ContextMenuExpandedFilesComponent" Guid="d905f5af-190d-4c7f-a85e-774ecd31f746" Condition="&amp;ContextMenuExpandedFeature=3">
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_01_NameCorrection" Type="string" Value="파일이름 자동 교정" KeyPath="yes" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_01_NameCorrection" Name="MUIVerb" Type="string" Value="파일이름 자동 교정" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_01_NameCorrection" Name="Icon" Type="string" Value="[INSTALLFOLDER]FileTools.exe" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_01_NameCorrection" Name="MultiSelectModel" Type="string" Value="Player" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_01_NameCorrection\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context FileNameCorrection &quot;%1&quot;" />

        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_02_FolderWrapFiles" Type="string" Value="파일 wrapping" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_02_FolderWrapFiles" Name="MUIVerb" Type="string" Value="파일 wrapping" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_02_FolderWrapFiles" Name="Icon" Type="string" Value="[INSTALLFOLDER]FileTools.exe" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_02_FolderWrapFiles" Name="MultiSelectModel" Type="string" Value="Player" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_02_FolderWrapFiles\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context FolderWrapFiles &quot;%1&quot;" />

        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_06_AutoRelocationCurrentFolder" Type="string" Value="현재 폴더에서 자동 재배치" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_06_AutoRelocationCurrentFolder" Name="MUIVerb" Type="string" Value="현재 폴더에서 자동 재배치" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_06_AutoRelocationCurrentFolder" Name="Icon" Type="string" Value="[INSTALLFOLDER]FileTools.exe" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_06_AutoRelocationCurrentFolder" Name="MultiSelectModel" Type="string" Value="Player" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_06_AutoRelocationCurrentFolder\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context AutoRelocationCurrentFolder &quot;%1&quot;" />

        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_07_AutoRelocationChooseTarget" Type="string" Value="선택한 폴더로 자동 재배치" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_07_AutoRelocationChooseTarget" Name="MUIVerb" Type="string" Value="선택한 폴더로 자동 재배치" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_07_AutoRelocationChooseTarget" Name="Icon" Type="string" Value="[INSTALLFOLDER]FileTools.exe" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_07_AutoRelocationChooseTarget" Name="MultiSelectModel" Type="string" Value="Player" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_07_AutoRelocationChooseTarget\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context AutoRelocationChooseTarget &quot;%1&quot;" />

        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_99_Open" Type="string" Value="FileTools 열기" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_99_Open" Name="MUIVerb" Type="string" Value="FileTools 열기" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_99_Open" Name="Icon" Type="string" Value="[INSTALLFOLDER]FileTools.exe" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_99_Open" Name="MultiSelectModel" Type="string" Value="Player" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_99_Open\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /open &quot;%1&quot;" />
      </Component>

      <Component Id="ContextMenuExpandedDirectoriesComponent" Guid="d31ff423-ff85-46d1-81d7-26da1ca93cc8" Condition="&amp;ContextMenuExpandedFeature=3">
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_01_NameCorrection" Type="string" Value="파일이름 자동 교정" KeyPath="yes" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_01_NameCorrection" Name="MUIVerb" Type="string" Value="파일이름 자동 교정" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_01_NameCorrection" Name="Icon" Type="string" Value="[INSTALLFOLDER]FileTools.exe" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_01_NameCorrection" Name="MultiSelectModel" Type="string" Value="Player" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_01_NameCorrection\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context FileNameCorrection &quot;%1&quot;" />

        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_03_FolderUnwrapSameName" Type="string" Value="같은 이름 단일 파일 폴더 unwrapping" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_03_FolderUnwrapSameName" Name="MUIVerb" Type="string" Value="같은 이름 단일 파일 폴더 unwrapping" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_03_FolderUnwrapSameName" Name="Icon" Type="string" Value="[INSTALLFOLDER]FileTools.exe" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_03_FolderUnwrapSameName" Name="MultiSelectModel" Type="string" Value="Player" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_03_FolderUnwrapSameName\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context FolderUnwrapSameNameSingleFile &quot;%1&quot;" />

        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_04_FolderUnwrapSingleFile" Type="string" Value="단일 파일 폴더 unwrapping" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_04_FolderUnwrapSingleFile" Name="MUIVerb" Type="string" Value="단일 파일 폴더 unwrapping" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_04_FolderUnwrapSingleFile" Name="Icon" Type="string" Value="[INSTALLFOLDER]FileTools.exe" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_04_FolderUnwrapSingleFile" Name="MultiSelectModel" Type="string" Value="Player" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_04_FolderUnwrapSingleFile\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context FolderUnwrapSingleFile &quot;%1&quot;" />

        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_05_FolderMoveInnerFilesUp" Type="string" Value="폴더 내부 파일 상위로 이동" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_05_FolderMoveInnerFilesUp" Name="MUIVerb" Type="string" Value="폴더 내부 파일 상위로 이동" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_05_FolderMoveInnerFilesUp" Name="Icon" Type="string" Value="[INSTALLFOLDER]FileTools.exe" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_05_FolderMoveInnerFilesUp" Name="MultiSelectModel" Type="string" Value="Player" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_05_FolderMoveInnerFilesUp\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context FolderMoveInnerFilesUp &quot;%1&quot;" />

        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_06_AutoRelocationCurrentFolder" Type="string" Value="현재 폴더에서 자동 재배치" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_06_AutoRelocationCurrentFolder" Name="MUIVerb" Type="string" Value="현재 폴더에서 자동 재배치" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_06_AutoRelocationCurrentFolder" Name="Icon" Type="string" Value="[INSTALLFOLDER]FileTools.exe" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_06_AutoRelocationCurrentFolder" Name="MultiSelectModel" Type="string" Value="Player" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_06_AutoRelocationCurrentFolder\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context AutoRelocationCurrentFolder &quot;%1&quot;" />

        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_07_AutoRelocationChooseTarget" Type="string" Value="선택한 폴더로 자동 재배치" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_07_AutoRelocationChooseTarget" Name="MUIVerb" Type="string" Value="선택한 폴더로 자동 재배치" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_07_AutoRelocationChooseTarget" Name="Icon" Type="string" Value="[INSTALLFOLDER]FileTools.exe" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_07_AutoRelocationChooseTarget" Name="MultiSelectModel" Type="string" Value="Player" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_07_AutoRelocationChooseTarget\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context AutoRelocationChooseTarget &quot;%1&quot;" />

        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_99_Open" Type="string" Value="FileTools 열기" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_99_Open" Name="MUIVerb" Type="string" Value="FileTools 열기" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_99_Open" Name="Icon" Type="string" Value="[INSTALLFOLDER]FileTools.exe" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_99_Open" Name="MultiSelectModel" Type="string" Value="Player" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_99_Open\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /open &quot;%1&quot;" />
      </Component>

      <Component Id="ContextMenuGroupedFilesComponent" Guid="842b2a81-b217-43a1-bec5-4d3457bd234d" Condition="&amp;ContextMenuExpandedFeature&lt;&gt;3">
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools" Type="string" Value="FileTools" KeyPath="yes" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools" Name="MUIVerb" Type="string" Value="FileTools" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools" Name="Icon" Type="string" Value="[INSTALLFOLDER]FileTools.exe" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools" Name="MultiSelectModel" Type="string" Value="Player" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools" Name="SubCommands" Type="string" Value="" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools\shell\FileTools_01_NameCorrection" Type="string" Value="파일이름 자동 교정" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools\shell\FileTools_01_NameCorrection\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context FileNameCorrection &quot;%1&quot;" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools\shell\FileTools_02_FolderWrapFiles" Type="string" Value="파일 wrapping" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools\shell\FileTools_02_FolderWrapFiles\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context FolderWrapFiles &quot;%1&quot;" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools\shell\FileTools_06_AutoRelocationCurrentFolder" Type="string" Value="현재 폴더에서 자동 재배치" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools\shell\FileTools_06_AutoRelocationCurrentFolder\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context AutoRelocationCurrentFolder &quot;%1&quot;" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools\shell\FileTools_07_AutoRelocationChooseTarget" Type="string" Value="선택한 폴더로 자동 재배치" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools\shell\FileTools_07_AutoRelocationChooseTarget\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context AutoRelocationChooseTarget &quot;%1&quot;" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools\shell\FileTools_99_Open" Type="string" Value="FileTools 열기" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools\shell\FileTools_99_Open\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /open &quot;%1&quot;" />
      </Component>

      <Component Id="ContextMenuGroupedDirectoriesComponent" Guid="3ab862d5-b794-4a7f-8c0f-176a4352a48f" Condition="&amp;ContextMenuExpandedFeature&lt;&gt;3">
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools" Type="string" Value="FileTools" KeyPath="yes" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools" Name="MUIVerb" Type="string" Value="FileTools" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools" Name="Icon" Type="string" Value="[INSTALLFOLDER]FileTools.exe" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools" Name="MultiSelectModel" Type="string" Value="Player" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools" Name="SubCommands" Type="string" Value="" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\shell\FileTools_01_NameCorrection" Type="string" Value="파일이름 자동 교정" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\shell\FileTools_01_NameCorrection\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context FileNameCorrection &quot;%1&quot;" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\shell\FileTools_03_FolderUnwrapSameName" Type="string" Value="같은 이름 단일 파일 폴더 unwrapping" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\shell\FileTools_03_FolderUnwrapSameName\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context FolderUnwrapSameNameSingleFile &quot;%1&quot;" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\shell\FileTools_04_FolderUnwrapSingleFile" Type="string" Value="단일 파일 폴더 unwrapping" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\shell\FileTools_04_FolderUnwrapSingleFile\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context FolderUnwrapSingleFile &quot;%1&quot;" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\shell\FileTools_05_FolderMoveInnerFilesUp" Type="string" Value="폴더 내부 파일 상위로 이동" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\shell\FileTools_05_FolderMoveInnerFilesUp\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context FolderMoveInnerFilesUp &quot;%1&quot;" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\shell\FileTools_06_AutoRelocationCurrentFolder" Type="string" Value="현재 폴더에서 자동 재배치" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\shell\FileTools_06_AutoRelocationCurrentFolder\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context AutoRelocationCurrentFolder &quot;%1&quot;" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\shell\FileTools_07_AutoRelocationChooseTarget" Type="string" Value="선택한 폴더로 자동 재배치" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\shell\FileTools_07_AutoRelocationChooseTarget\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context AutoRelocationChooseTarget &quot;%1&quot;" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\shell\FileTools_99_Open" Type="string" Value="FileTools 열기" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\shell\FileTools_99_Open\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /open &quot;%1&quot;" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ProgramMenuFileTools">
      <Component Id="StartMenuShortcutComponent" Guid="4cbe5d9c-11be-4bf8-ae44-d6ec6ffad7e3">
        <Shortcut
          Id="StartMenuShortcut"
          Name="FileTools"
          Target="[INSTALLFOLDER]FileTools.exe"
          WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveProgramMenuFileTools" On="uninstall" />
        <RegistryValue
          Root="HKCU"
          Key="Software\FileTools"
          Name="StartMenuShortcut"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="AppFeature" Title="FileTools" Description="FileTools application and Start Menu shortcut." Level="1">
      <ComponentRef Id="FileToolsExeComponent" />
      <ComponentRef Id="InstallStateComponent" />
      <ComponentRef Id="StartMenuShortcutComponent" />

      <Feature Id="ContextMenuFeature" Title="Explorer Context Menu" Description="Register FileTools commands in Explorer context menus." Level="1">
        <Feature Id="ContextMenuGroupedFeature" Title="Grouped Context Menu" Description="Show one FileTools menu with subcommands. This is the default." Level="1">
          <ComponentRef Id="ContextMenuGroupedFilesComponent" />
          <ComponentRef Id="ContextMenuGroupedDirectoriesComponent" />
        </Feature>
        <Feature Id="ContextMenuExpandedFeature" Title="Expanded Context Menu" Description="Show FileTools commands directly in the context menu." Level="2">
          <ComponentRef Id="ContextMenuExpandedFilesComponent" />
          <ComponentRef Id="ContextMenuExpandedDirectoriesComponent" />
        </Feature>
      </Feature>
    </Feature>
  </Package>
</Wix>
