<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package
    Name="FileTools"
    Manufacturer="byteword"
    Version="$(var.ProductVersion)"
    UpgradeCode="3c349cf2-c8c9-4a60-9235-83009b041788"
    Scope="perUser"
    Codepage="65001">

    <MajorUpgrade DowngradeErrorMessage="A newer version of FileTools is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="INSTALLLEVEL" Value="1" />
    <Property Id="FILETOOLS_INSTALL_CONTEXT_MENU" Value="1" />
    <Property Id="FILETOOLS_CREATE_START_MENU_SHORTCUT" Value="1" />
    <Property Id="FILETOOLS_CREATE_DESKTOP_SHORTCUT" Value="0" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="ARPPRODUCTICON" Value="FileToolsAppIcon" />
    <Icon Id="FileToolsAppIcon" SourceFile="$(var.AppIconPath)" />
    <ui:WixUI Id="WixUI_FeatureTree" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.LicenseRtfPath)" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.MsiDialogBmpPath)" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.MsiBannerBmpPath)" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="ProgramsFolder" Name="Programs">
        <Directory Id="INSTALLFOLDER" Name="FileTools" />
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ProgramMenuFileTools" Name="FileTools" />
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder">
      <Component Id="DesktopShortcutComponent" Guid="4b9837aa-a72b-4cfd-b5a0-15eadc7de088" Condition="FILETOOLS_CREATE_DESKTOP_SHORTCUT=&quot;1&quot;">
        <Shortcut
          Id="DesktopShortcut"
          Name="FileTools"
          Target="[INSTALLFOLDER]FileTools.exe"
          WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue
          Root="HKCU"
          Key="Software\FileTools"
          Name="DesktopShortcut"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </StandardDirectory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="FileToolsExeComponent" Guid="117a6701-9283-4acf-bf0a-4987c1dedd53">
        <File Id="FileToolsExeFile" Source="$(var.AppPublishDir)FileTools.exe" />
        <RemoveFolder Id="RemoveInstallFolder" On="uninstall" />
        <RemoveFolder Id="RemoveProgramsFolder" Directory="ProgramsFolder" On="uninstall" />
        <RegistryValue
          Root="HKCU"
          Key="Software\FileTools"
          Name="InstalledExe"
          Type="string"
          Value="[INSTALLFOLDER]FileTools.exe"
          KeyPath="yes" />
      </Component>

      <Component Id="ShellExtensionComponent" Guid="b11f26f8-cc8d-4e91-93aa-1858643a50b7">
        <File Id="FileToolsShellExtFile" Source="$(var.ShellExtensionPath)" />
        <RegistryValue
          Root="HKCU"
          Key="Software\FileTools"
          Name="ShellExtensionInstalled"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>

      <Component Id="IdentitySupportFilesComponent" Guid="8f1a5b08-2d76-4c51-a925-24db26b88d4c">
        <File Id="FileToolsIdentityMsixFile" Source="$(var.IdentityMsixPath)" />
        <File Id="FileToolsIdentityCertificateFile" Source="$(var.IdentityCertificatePath)" />
        <RegistryValue
          Root="HKCU"
          Key="Software\FileTools"
          Name="IdentitySupportFiles"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>

      <Component Id="ShellExtensionRegistrationComponent" Guid="fc25cfad-7aa2-4d6a-9f0a-6516389403d7" Condition="FILETOOLS_INSTALL_CONTEXT_MENU&lt;&gt;&quot;0&quot;">
        <RegistryValue Root="HKCU" Key="Software\Classes\CLSID\{716e7cc4-5941-4362-8aca-d38c62817de9}" Type="string" Value="FileTools Shell Extension" KeyPath="yes" />
        <RegistryValue Root="HKCU" Key="Software\Classes\CLSID\{716e7cc4-5941-4362-8aca-d38c62817de9}\InprocServer32" Type="string" Value="[INSTALLFOLDER]FileTools.ShellExt.dll" />
        <RegistryValue Root="HKCU" Key="Software\Classes\CLSID\{716e7cc4-5941-4362-8aca-d38c62817de9}\InprocServer32" Name="ThreadingModel" Type="string" Value="Apartment" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools" Name="MUIVerb" Type="string" Value="FileTools" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools" Name="Icon" Type="string" Value="[INSTALLFOLDER]FileTools.exe" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools" Name="MultiSelectModel" Type="string" Value="Player" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools" Name="ExplorerCommandHandler" Type="string" Value="{716e7cc4-5941-4362-8aca-d38c62817de9}" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools" Name="MUIVerb" Type="string" Value="FileTools" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools" Name="Icon" Type="string" Value="[INSTALLFOLDER]FileTools.exe" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools" Name="MultiSelectModel" Type="string" Value="Player" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools" Name="ExplorerCommandHandler" Type="string" Value="{716e7cc4-5941-4362-8aca-d38c62817de9}" />
        <RegistryValue Root="HKCU" Key="Software\FileTools\ContextMenu" Name="ContextMenuOpenApp" Type="integer" Value="1" />
        <RegistryValue Root="HKCU" Key="Software\FileTools\ContextMenu" Name="ContextMenuFileNameCorrection" Type="integer" Value="1" />
        <RegistryValue Root="HKCU" Key="Software\FileTools\ContextMenu" Name="ContextMenuFolderWrapFiles" Type="integer" Value="1" />
        <RegistryValue Root="HKCU" Key="Software\FileTools\ContextMenu" Name="ContextMenuFolderUnwrapSameNameSingleFile" Type="integer" Value="1" />
        <RegistryValue Root="HKCU" Key="Software\FileTools\ContextMenu" Name="ContextMenuFolderUnwrapSingleFile" Type="integer" Value="1" />
        <RegistryValue Root="HKCU" Key="Software\FileTools\ContextMenu" Name="ContextMenuFolderMoveInnerFilesUp" Type="integer" Value="1" />
        <RegistryValue Root="HKCU" Key="Software\FileTools\ContextMenu" Name="ContextMenuAutoRelocationCurrentFolder" Type="integer" Value="1" />
        <RegistryValue Root="HKCU" Key="Software\FileTools\ContextMenu" Name="ContextMenuAutoRelocationChooseTarget" Type="integer" Value="1" />
      </Component>

      <Component Id="InstallStateComponent" Guid="f4b14411-7e73-4f39-8e37-c3521454d962">
        <RegistryValue
          Root="HKCU"
          Key="Software\FileTools"
          Name="InstallDir"
          Type="string"
          Value="[INSTALLFOLDER]"
          KeyPath="yes" />
      </Component>

      <Component Id="ContextMenuExpandedFilesComponent" Guid="d905f5af-190d-4c7f-a85e-774ecd31f746" Condition="FILETOOLS_INSTALL_CONTEXT_MENU&lt;&gt;&quot;0&quot; AND &amp;ContextMenuExpandedFeature=3">
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_01_NameCorrection" Type="string" Value="파일이름 자동 교정" KeyPath="yes" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_01_NameCorrection" Name="MUIVerb" Type="string" Value="파일이름 자동 교정" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_01_NameCorrection" Name="Icon" Type="string" Value="[INSTALLFOLDER]FileTools.exe" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_01_NameCorrection" Name="MultiSelectModel" Type="string" Value="Player" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_01_NameCorrection\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context FileNameCorrection &quot;%1&quot;" />

        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_02_FolderWrapFiles" Type="string" Value="파일 wrapping" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_02_FolderWrapFiles" Name="MUIVerb" Type="string" Value="파일 wrapping" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_02_FolderWrapFiles" Name="Icon" Type="string" Value="[INSTALLFOLDER]FileTools.exe" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_02_FolderWrapFiles" Name="MultiSelectModel" Type="string" Value="Player" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_02_FolderWrapFiles\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context FolderWrapFiles &quot;%1&quot;" />

        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_06_AutoRelocationCurrentFolder" Type="string" Value="현재 폴더에서 자동 재배치" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_06_AutoRelocationCurrentFolder" Name="MUIVerb" Type="string" Value="현재 폴더에서 자동 재배치" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_06_AutoRelocationCurrentFolder" Name="Icon" Type="string" Value="[INSTALLFOLDER]FileTools.exe" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_06_AutoRelocationCurrentFolder" Name="MultiSelectModel" Type="string" Value="Player" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_06_AutoRelocationCurrentFolder\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context AutoRelocationCurrentFolder &quot;%1&quot;" />

        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_07_AutoRelocationChooseTarget" Type="string" Value="선택한 폴더로 자동 재배치" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_07_AutoRelocationChooseTarget" Name="MUIVerb" Type="string" Value="선택한 폴더로 자동 재배치" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_07_AutoRelocationChooseTarget" Name="Icon" Type="string" Value="[INSTALLFOLDER]FileTools.exe" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_07_AutoRelocationChooseTarget" Name="MultiSelectModel" Type="string" Value="Player" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_07_AutoRelocationChooseTarget\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context AutoRelocationChooseTarget &quot;%1&quot;" />

        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_99_Open" Type="string" Value="FileTools 열기" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_99_Open" Name="MUIVerb" Type="string" Value="FileTools 열기" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_99_Open" Name="Icon" Type="string" Value="[INSTALLFOLDER]FileTools.exe" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_99_Open" Name="MultiSelectModel" Type="string" Value="Player" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_99_Open" Name="SeparatorBefore" Type="string" Value="" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_99_Open" Name="Position" Type="string" Value="Bottom" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools_99_Open\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /open &quot;%1&quot;" />
      </Component>

      <Component Id="ContextMenuExpandedDirectoriesComponent" Guid="d31ff423-ff85-46d1-81d7-26da1ca93cc8" Condition="FILETOOLS_INSTALL_CONTEXT_MENU&lt;&gt;&quot;0&quot; AND &amp;ContextMenuExpandedFeature=3">
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_01_NameCorrection" Type="string" Value="파일이름 자동 교정" KeyPath="yes" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_01_NameCorrection" Name="MUIVerb" Type="string" Value="파일이름 자동 교정" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_01_NameCorrection" Name="Icon" Type="string" Value="[INSTALLFOLDER]FileTools.exe" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_01_NameCorrection" Name="MultiSelectModel" Type="string" Value="Player" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_01_NameCorrection\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context FileNameCorrection &quot;%1&quot;" />

        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_03_FolderUnwrapSameName" Type="string" Value="같은 이름 단일 파일 폴더 unwrapping" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_03_FolderUnwrapSameName" Name="MUIVerb" Type="string" Value="같은 이름 단일 파일 폴더 unwrapping" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_03_FolderUnwrapSameName" Name="Icon" Type="string" Value="[INSTALLFOLDER]FileTools.exe" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_03_FolderUnwrapSameName" Name="MultiSelectModel" Type="string" Value="Player" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_03_FolderUnwrapSameName\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context FolderUnwrapSameNameSingleFile &quot;%1&quot;" />

        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_04_FolderUnwrapSingleFile" Type="string" Value="단일 파일 폴더 unwrapping" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_04_FolderUnwrapSingleFile" Name="MUIVerb" Type="string" Value="단일 파일 폴더 unwrapping" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_04_FolderUnwrapSingleFile" Name="Icon" Type="string" Value="[INSTALLFOLDER]FileTools.exe" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_04_FolderUnwrapSingleFile" Name="MultiSelectModel" Type="string" Value="Player" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_04_FolderUnwrapSingleFile\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context FolderUnwrapSingleFile &quot;%1&quot;" />

        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_05_FolderMoveInnerFilesUp" Type="string" Value="폴더 내부 파일 상위로 이동" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_05_FolderMoveInnerFilesUp" Name="MUIVerb" Type="string" Value="폴더 내부 파일 상위로 이동" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_05_FolderMoveInnerFilesUp" Name="Icon" Type="string" Value="[INSTALLFOLDER]FileTools.exe" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_05_FolderMoveInnerFilesUp" Name="MultiSelectModel" Type="string" Value="Player" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_05_FolderMoveInnerFilesUp\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context FolderMoveInnerFilesUp &quot;%1&quot;" />

        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_06_AutoRelocationCurrentFolder" Type="string" Value="현재 폴더에서 자동 재배치" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_06_AutoRelocationCurrentFolder" Name="MUIVerb" Type="string" Value="현재 폴더에서 자동 재배치" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_06_AutoRelocationCurrentFolder" Name="Icon" Type="string" Value="[INSTALLFOLDER]FileTools.exe" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_06_AutoRelocationCurrentFolder" Name="MultiSelectModel" Type="string" Value="Player" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_06_AutoRelocationCurrentFolder\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context AutoRelocationCurrentFolder &quot;%1&quot;" />

        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_07_AutoRelocationChooseTarget" Type="string" Value="선택한 폴더로 자동 재배치" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_07_AutoRelocationChooseTarget" Name="MUIVerb" Type="string" Value="선택한 폴더로 자동 재배치" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_07_AutoRelocationChooseTarget" Name="Icon" Type="string" Value="[INSTALLFOLDER]FileTools.exe" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_07_AutoRelocationChooseTarget" Name="MultiSelectModel" Type="string" Value="Player" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_07_AutoRelocationChooseTarget\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context AutoRelocationChooseTarget &quot;%1&quot;" />

        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_99_Open" Type="string" Value="FileTools 열기" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_99_Open" Name="MUIVerb" Type="string" Value="FileTools 열기" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_99_Open" Name="Icon" Type="string" Value="[INSTALLFOLDER]FileTools.exe" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_99_Open" Name="MultiSelectModel" Type="string" Value="Player" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_99_Open" Name="SeparatorBefore" Type="string" Value="" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_99_Open" Name="Position" Type="string" Value="Bottom" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools_99_Open\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /open &quot;%1&quot;" />
      </Component>

      <Component Id="ContextMenuGroupedFilesComponent" Guid="842b2a81-b217-43a1-bec5-4d3457bd234d" Condition="FILETOOLS_INSTALL_CONTEXT_MENU&lt;&gt;&quot;0&quot; AND &amp;ContextMenuExpandedFeature&lt;&gt;3">
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools" Name="MUIVerb" Type="string" Value="FileTools" KeyPath="yes" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools" Name="Icon" Type="string" Value="[INSTALLFOLDER]FileTools.exe" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools" Name="MultiSelectModel" Type="string" Value="Player" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_01_NameCorrection" Type="string" Value="파일이름 자동 교정" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_01_NameCorrection" Name="MUIVerb" Type="string" Value="파일이름 자동 교정" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_01_NameCorrection\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context FileNameCorrection &quot;%1&quot;" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_02_FolderWrapFiles" Type="string" Value="파일 wrapping" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_02_FolderWrapFiles" Name="MUIVerb" Type="string" Value="파일 wrapping" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_02_FolderWrapFiles\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context FolderWrapFiles &quot;%1&quot;" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_06_AutoRelocationCurrentFolder" Type="string" Value="현재 폴더에서 자동 재배치" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_06_AutoRelocationCurrentFolder" Name="MUIVerb" Type="string" Value="현재 폴더에서 자동 재배치" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_06_AutoRelocationCurrentFolder\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context AutoRelocationCurrentFolder &quot;%1&quot;" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_07_AutoRelocationChooseTarget" Type="string" Value="선택한 폴더로 자동 재배치" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_07_AutoRelocationChooseTarget" Name="MUIVerb" Type="string" Value="선택한 폴더로 자동 재배치" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_07_AutoRelocationChooseTarget\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context AutoRelocationChooseTarget &quot;%1&quot;" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_99_Open" Type="string" Value="FileTools 열기" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_99_Open" Name="MUIVerb" Type="string" Value="FileTools 열기" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_99_Open" Name="CommandFlags" Type="integer" Value="32" />
        <RegistryValue Root="HKCU" Key="Software\Classes\*\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_99_Open\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /open &quot;%1&quot;" />
      </Component>

      <Component Id="ContextMenuGroupedDirectoriesComponent" Guid="3ab862d5-b794-4a7f-8c0f-176a4352a48f" Condition="FILETOOLS_INSTALL_CONTEXT_MENU&lt;&gt;&quot;0&quot; AND &amp;ContextMenuExpandedFeature&lt;&gt;3">
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools" Name="MUIVerb" Type="string" Value="FileTools" KeyPath="yes" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools" Name="Icon" Type="string" Value="[INSTALLFOLDER]FileTools.exe" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools" Name="MultiSelectModel" Type="string" Value="Player" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_01_NameCorrection" Type="string" Value="파일이름 자동 교정" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_01_NameCorrection" Name="MUIVerb" Type="string" Value="파일이름 자동 교정" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_01_NameCorrection\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context FileNameCorrection &quot;%1&quot;" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_03_FolderUnwrapSameName" Type="string" Value="같은 이름 단일 파일 폴더 unwrapping" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_03_FolderUnwrapSameName" Name="MUIVerb" Type="string" Value="같은 이름 단일 파일 폴더 unwrapping" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_03_FolderUnwrapSameName\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context FolderUnwrapSameNameSingleFile &quot;%1&quot;" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_04_FolderUnwrapSingleFile" Type="string" Value="단일 파일 폴더 unwrapping" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_04_FolderUnwrapSingleFile" Name="MUIVerb" Type="string" Value="단일 파일 폴더 unwrapping" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_04_FolderUnwrapSingleFile\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context FolderUnwrapSingleFile &quot;%1&quot;" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_05_FolderMoveInnerFilesUp" Type="string" Value="폴더 내부 파일 상위로 이동" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_05_FolderMoveInnerFilesUp" Name="MUIVerb" Type="string" Value="폴더 내부 파일 상위로 이동" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_05_FolderMoveInnerFilesUp\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context FolderMoveInnerFilesUp &quot;%1&quot;" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_06_AutoRelocationCurrentFolder" Type="string" Value="현재 폴더에서 자동 재배치" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_06_AutoRelocationCurrentFolder" Name="MUIVerb" Type="string" Value="현재 폴더에서 자동 재배치" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_06_AutoRelocationCurrentFolder\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context AutoRelocationCurrentFolder &quot;%1&quot;" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_07_AutoRelocationChooseTarget" Type="string" Value="선택한 폴더로 자동 재배치" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_07_AutoRelocationChooseTarget" Name="MUIVerb" Type="string" Value="선택한 폴더로 자동 재배치" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_07_AutoRelocationChooseTarget\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /context AutoRelocationChooseTarget &quot;%1&quot;" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_99_Open" Type="string" Value="FileTools 열기" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_99_Open" Name="MUIVerb" Type="string" Value="FileTools 열기" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_99_Open" Name="CommandFlags" Type="integer" Value="32" />
        <RegistryValue Root="HKCU" Key="Software\Classes\Directory\shell\FileTools\ExtendedSubCommandsKey\Shell\FileTools_99_Open\command" Type="string" Value="&quot;[INSTALLFOLDER]FileTools.exe&quot; /open &quot;%1&quot;" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ProgramMenuFileTools">
      <Component Id="StartMenuShortcutComponent" Guid="4cbe5d9c-11be-4bf8-ae44-d6ec6ffad7e3" Condition="FILETOOLS_CREATE_START_MENU_SHORTCUT&lt;&gt;&quot;0&quot;">
        <Shortcut
          Id="StartMenuShortcut"
          Name="FileTools"
          Target="[INSTALLFOLDER]FileTools.exe"
          WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveProgramMenuFileTools" On="uninstall" />
        <RegistryValue
          Root="HKCU"
          Key="Software\FileTools"
          Name="StartMenuShortcut"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="AppFeature" Title="FileTools" Description="FileTools application and Start Menu shortcut." Level="1">
      <ComponentRef Id="FileToolsExeComponent" />
      <ComponentRef Id="InstallStateComponent" />
      <ComponentRef Id="IdentitySupportFilesComponent" />
      <ComponentRef Id="StartMenuShortcutComponent" />
      <ComponentRef Id="DesktopShortcutComponent" />

      <Feature Id="ContextMenuFeature" Title="Explorer Context Menu" Description="Register FileTools commands in Explorer context menus." Level="1">
        <ComponentRef Id="ShellExtensionComponent" />
        <ComponentRef Id="ShellExtensionRegistrationComponent" />
        <Feature Id="ContextMenuGroupedFeature" Title="Legacy Grouped Context Menu" Level="0">
          <ComponentRef Id="ContextMenuGroupedFilesComponent" />
          <ComponentRef Id="ContextMenuGroupedDirectoriesComponent" />
        </Feature>
        <Feature Id="ContextMenuExpandedFeature" Title="Legacy Expanded Context Menu" Level="0">
          <ComponentRef Id="ContextMenuExpandedFilesComponent" />
          <ComponentRef Id="ContextMenuExpandedDirectoriesComponent" />
        </Feature>
      </Feature>
    </Feature>
  </Package>
</Wix>
